.location{
    font-size: small;
}

.project-type{
    font-size:large;
    text-align: center;
}
.vh{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    color: gainsboro;
    background-color: black !important;
}