



button{
    border-radius: 0!important;
}

body{

    font-family: 'Nunito', sans-serif;
    
    font-weight: bold;
}

.carousel-image{
    display: block;
    width: 100%;
    height: 85vh; 
    object-fit: cover;
    object-position: center;
  }

  .logo{
    height :35px
  }



.container-fluid {
    padding: 0;
    margin: 0;
  }
  

.fixed-height {
    height: 300px;}